.lead_subtitle {
  max-width: 640px;
  max-height: 72px;

  margin: 0px auto 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .lead_subtitle {
    margin: 0px auto 56px;
  }
}

@media screen and (max-width: 434px) {
  .lead_subtitle {
    font-size: 16px;
    line-height: 125%;
  }
}
