.photo-grid {
  max-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  grid-gap: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    width: 100%;
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 0 auto;
    grid-gap: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, minmax(auto, 216px));
  }
}
