.places {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  width: 100%;
  min-height: 100%;
  margin-top: 92px;
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .places {
    margin-top: 88px;
    margin-bottom: 90px;
    row-gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin-top: 64px;
    margin-bottom: 66px;
    padding: 0px;
    row-gap: 50px;
  }
}
