@import url(./vendor/font.css);

.page{
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #2A2C2F;
}

.wrapper{
  max-width: 1184px;
  min-height: 100%;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

}

.header{
    font-family: 'Inter';
    font-weight: 400;
    width: 100%;
    min-height: 52px;
    display: flex;
    justify-content: space-between;
    padding: 28px 0px 56px;
}

.header_logo{
  max-width: 176px;
  height: 52px;

}
.header_lang-links{
  display: flex;
  flex-direction: row;
  align-items: end;
}
.header_lang-link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  margin-right: 18px;
  color: #FFFFFF;
  text-decoration: underline;
}

.header_lang-link:last-of-type {
  margin-right: 0;
  text-decoration: none;
}

/*-----------------------------------------------------*/

.main{
    font-family: 'Inter';
    font-weight: 400;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.lead{
  font-family: 'Inter';
  font-weight: 400;
  width: 100%;
  margin: 0;
  padding: 0px 0px 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead_title{
  max-width: 720px;
  max-height: 200px;
  margin: 0;
  padding: 0px 232px 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  color: #FFFFFF;

}

.lead_subtitle{
  max-width: 640px;
  max-height: 72px;
  margin: 0;
  padding: 0px 272px 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.lead_image{
  max-width: 984px;
  width: 100%;
  height: 615px;
  margin: 0px auto;
  background-image: url(./img/kalegin-michail-179870-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.lead_group{
  margin: 126px auto 250px;
  max-width: 100%;
  box-sizing: border-box;

}

.lead_caption{
  justify-self: start;
  align-self: flex-start;
  margin: 0;
  padding-top: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*---------------------------------------------------*/

.intro{
  font-family: 'Inter';
  font-weight: 400;
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.intro_title{
  max-width: 100%;
  max-height: 58px;
  margin: 0px 0px 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.625rem;
  line-height: 107%;
  color: #FFFFFF;
  text-align: left;
}

.intro_text{
  max-width: 690px;
  max-height: 208px;
  margin: 0px 0px 33px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  color: #FFFFFF;
  text-align: left;
}

.intro_list{
  max-width: 690px;
  max-height: 90px;
  margin: 0 0 92px;
  padding-left: 0px;
  list-style-type: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 150%;
  color: #FFFFFF;
}

.intro_number{
  font-weight: 400;
}

/*------------------------------------*/
.photo-grid{
  max-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 16px;
  box-sizing: border-box;

}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);;
  }
}

.photo-grid_item{
  max-width: 100%;
}

.places{
  font-family: 'Inter';
  font-weight: 400;
  width: 100%;
  padding: 92px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
  box-sizing: border-box;

}

.places_place{
  min-height: 100%;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto 460px;
  grid-gap: 48px 40px;
  box-sizing: border-box;
}

.place_title{
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;

}

.place_website{
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 12px;
}

.place_url-heading{
  margin: 0;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 170%;
letter-spacing: 2px;
color: #AAAAAA;
}

.place_link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
}

.place_link:hover{
  color: rgba(213, 213, 213, 0.732);
  transition: 0.3s ease;

}

.place_paragraphs{
  display: flex;
  flex-direction: column;
  row-gap: 26px;

}

.place_paragraph{
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

/*--------------------------------*/
.cover {
  width: 100%;
  min-height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


max-width: 984px;
width: 100%;
height: 615px;
margin: 0px auto;
background-image: url(./img/kalegin-michail-179870-unsplash.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;

@media screen and (max-width: 1024px) {

  .cover {
    width: 100%;
    height: 640px;
  }
}

.cover_background{
  width: 1184px;
  height: 740px;
  background-image: url(./img/__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}






@media screen and (max-width: 1024px) {

  .cover__background {
    width: 100%;
    height: 640px;
  }
}


.cover_overlay{

  width: 1184px;
  height: 740px;
  background-color: rgba(0, 0, 0, 0.371);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

}


.cover_overlay:hover{
  background-color: rgba(16, 16, 16, 0.732);
  transition: 0.3s ease;

}
@media screen and (max-width: 1024px) {

  .cover_overlay {
    width: 100%;
    height: 640px;
  }
}


.cover_title{
  width: 560px;
  height: 152px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;

}

.cover_subtitle{
  width: 360px;
  height: 66px;
  padding-top: 32px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;

 }

 /*
 .footer{
  max-width: 1184px;
  padding: 92px 48px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .footer_navigation{
  width: 100%;

 }

 .footer_link{
  margin-right: 18px;
  max-width: 106px;
  max-height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
 }

 .footer_copyright{
  margin: 0;
  max-width: 186px;
  max-height: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
 }
*/
