.intro__list {
  max-width: 690px;
  max-height: 100%;
  margin: 0px 0px 92px;
  padding-left: 0px;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin: 0;
  }
}
