.places__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #ffffff;
}

.places__link:hover {
  color: rgba(213, 213, 213, 0.8);
  transition: 0.3s ease;
}
