.footer__link {
  margin-right: 18px;
  max-width: 106px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #ffffff;
  text-decoration: none;
}

.footer__link:hover {
  color: #FFFFFF;
  opacity: 0.8;
  transition: 0.3s ease;
}

@media screen and (max-width: 320px) {
  .footer__link {
    max-width: 74px;
    font-size: 24px;
    line-height: 100%;
    margin: 0;
  }
}
