.cover__overlay {
  max-width: 1184px;
  max-height: 740px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .cover__overlay{
    max-width: 1024px;
    max-height: 640px;

  }
}
@media screen and (max-width: 768px) {
  .cover__overlay{
    max-width: 768px;
    max-height: 480px;

  }
}
@media screen and (max-width: 768px) {
  .cover__overlay{
    max-width: 320px;
    max-height: 200px;

  }
}
.cover__overlay::after{
  content: "";
  position: absolute;
  background: #2A2C2F;
  opacity: 0.3;
  width: 100%;
  height: 100%;


}



.cover__overlay:hover {
  background-color: #2A2C2F;
  opacity: 0.8;
  transition: 0.3s ease;
  min-height: 740px;
}
