.lead__group {
  margin: 105px auto 268px;
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead__group {
    max-height: 380px;
    margin: 120px 20px 280px;
  }
}

@media screen and (max-width: 768px) {
  .lead__group {
    max-height: 480px;
    margin: 80px 15px 220px;
  }
}
@m
edia screen and (max-width: 520px) {
  .lead__group {
    max-height: 290px;
    margin: 40px 15px 85px;
  }
}

@media screen and (max-width: 520px) {
  .lead__group {
    margin: 35px 5px 90px;
  }
}
