.lead__group {
  margin: 126px auto 250px;
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead__group {
    max-height: 580px;
    margin: 120px 40px 240px;
  }
}

@media screen and (max-width: 768px) {
  .lead__group {
    max-height: 480px;
    margin: 100px 35px 200px;
  }
}
@media screen and (max-width: 520px) {
  .lead__group {
    max-height: 290px;
    margin: 40px 15px 85px;
  }
}
